<%= erb :"common/header" %>
<div class="row">
  <div class="col-sm-9" style="background-color: white">
    <div style="margin: 3%; margin-left: 10%; margin-right: 10%; margin-bottom: 5%">
      <% unless @error.nil? %>
        <p style="color:red"><%= @error %></p>
      <% end %>
      <div class="section-title col-md-12">
        <h2 style="font-weight:bold">Create Your Account First for 
        <span>
          <% if session[:temp_account_type] == "2"%>
            Moderator
          <%elsif session[:temp_account_type] == "5"%>
            Course Provider
          <% end%>
        </span>
        </h2>
        <p>You can have gain to the dashboard until we <span style="font-weight:bold; color: red">review & approve </span> your given information.</p>
        <form id="signup-form" class="needs-validation" novalidate="" method="post" action="/sign-up">
          <% unless @error.nil? %>
            <p style="color:red"><%= @error %></p>
          <% end %>
          
          <!-- First Name & Surname input -->
          <div class="row mb-4" style="margin-bottom: 10px">
            <div class="col-md-6 mb-4">
              <div class="form-outline mb-4">
                <label for="inputEmail4">First name</label>
                <input type="text" name="first_name" class="form-control" placeholder="First Name" required="">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <label for="inputEmail4">Surname</label>
                <input type="text" name="surname" class="form-control" placeholder="Surname" required="">
              </div>
            </div>
          </div>
          <!-- Username input -->
          <div class="form-outline mb-4" style="margin-bottom: 10px">
            <label for="inputEmail4">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" value="<%= session[:temp_account_username] %>" readonly=true>
          </div>

          <!-- Username input -->
          <div class="form-outline mb-4" style="margin-bottom: 10px">
            <label for="inputEmail4">Request ID</label>
            <input type="text" name="request_id" class="form-control" placeholder="Username" value="<%= @requestDetail.request_id %>" readonly=true>
          </div>

          <!-- Username input -->
          <div class="form-outline mb-4" style="margin-bottom: 10px">
            <label for="inputEmail4">Account Type</label>
            <input type="text" name="account_type" class="form-control" value="<% if session[:temp_account_type] == "2"%>Moderator<%elsif session[:temp_account_type] == "5"%>Course Provider<% end%>" placeholder="Account Type" readonly=true>
          </div>

          <!-- Email input -->
          <label for="inputEmail4">Email</label>
          <div class="form-outline mb-4" style="margin-bottom: 10px">
            <input type="email" name="email" class="form-control" placeholder="Email address"  value="<%= session[:temp_account_email] %>" readonly=true>
          </div>

          <!-- Password input -->
          <label for="inputEmail4">Password</label>
          <div class="form-outline mb-4" style="margin-bottom: 10px">
            <input type="password" name="password" class="form-control" value="<%= h @password %>" placeholder="Password" required="">
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4" value="Submit" width=20px>
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div style="margin: 3%">
      <ul class="list-group text-primary">
        <li class="list-group-item"><a href="/account-reset-request">Reset account</a></li>
        <li class="list-group-item"><a href="/user_course_referral">Recommend a course</a></li>
        <li class="list-group-item"><a href="/account-request?account_type=2">Becoming a moderator</a></li>
        <li class="list-group-item"><a href="/account-request?account_type=5">Becoming a course provider</a></li>
        <li class="list-group-item"><a href="/contact">Other</a></li>
      </ul>
    </div>
  </div>
</div>
<%= erb :"common/footer" %>

