<%= erb :"common/course_provider/course_provider_header_dashboard" %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="page-header" style="margin-top:10px;">Contributor Listing</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <h5>View user account status and view all registered users.</h5>
                <div class="pull-left col-lg-6 col-md-5 col-sm-4 col-xs-4" style="padding-left:0;margin-top:10px;margin-bottom:10px">
                  <div class="input-group input-group-lg">
                      <form action="/user_listing_search" method="get">
                      <input type="text" class="form-control search_input" placeholder="ID / Username" name="managementUserSearchKeyword" value="<%= h(session[:managementUserSearchKeyword]) if session[:managementUserSearchKeyword] %>">
                      <span class="input-group-btn">
                          <button class="btn btn-default" type="submit">Go!</button>
                      </span>
                      </form>
                  </div>
                </div>
                <% if session[:managementUserSearchKeyword] %>
                <form action="/clear_user_listing_search" method="post" class="form-inline">
                    <button class="btn btn-danger btn-lg" type="submit" style="margin-top:10px">Clear</button>
                </form>
                <% end %>
                <div style="margin-top: 60px"></div>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Account Type</th>
                        <th>Status</th>
                        <th>Sign up At</th>
                        <th>Modification</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr class="text-left" style="font-size:1rem;">
                          <td><%= user.user_id %></td>
                          <td><%= user.username %></td>
                          <td><%= user.email %></td>
                          <td>
                              <% if user.account_type.to_i == 1 %>
                                User
                              <% elsif user.account_type.to_i == 2 %>
                                Moderator
                              <% elsif user.account_type.to_i == 3 %>
                                Manager
                              <% else %>
                                Admin
                              <% end %>
                          </td>
                          <td>
                              <% if user.is_suspended == 1 %>
                                Suspended
                              <% else %>
                                Normal
                              <% end %>
                          </td>
                          <td><%= user.sign_up_date %></td>
                          <td> 
                              <% if user.is_suspended == 1 %>
                                  <form method="post" action="/unsuspend_user/<%= user.user_id %>" class="form-inline">
                                      <button type="submit" class="btn-success btn">Unsuspend</button>
                                  </form>
                              <% else %>
                                  <form method="post" action="/suspend_user/<%= user.user_id %>" class="form-inline">
                                  <button type="submit" class="btn-danger btn">Suspend</button>
                                  </form>
                              <% end %>
                          </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <link href="css/widgets/modal.css" rel="stylesheet">

    <div class="modal fade" id="unsuspendConfirmation" tabindex="-1" role="dialog" aria-labelledby="unsuspendConfirmationLabel" aria-hidden="true">
      <div class="modal-dialog"  role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-info">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"></span>Unsuspend Confirmation</h4>
          </div>
          <div class="modal-body">
            <p>[checkbox must be checked first!] The selected users will be unsuspended.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success">Unsuspend</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="suspendConfirmation" tabindex="-1" role="dialog" aria-labelledby="modalCompose" aria-hidden="true">
      <div class="modal-dialog"  role="document">
        <div class="modal-content">
          <div class="modal-header modal-header-info">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title"></span> Suspend Confirmation</h4>
          </div>
          <div class="modal-body">
            <p>[checkbox must be checked first!] The selected users will be suspended.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Suspend</button>
          </div>
        </div>
      </div>
    </div>



<%= erb :"common/course_provider/course_provider_footer_dashboard" %>