<% @subtitle = "Messages" %>
<%= erb :"common/administrator/administrator_header_dashboard" %>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="page-header" style="margin-bottom: 5px;">Messages</h2>
      <div class="table-responsive" style="margin-top: 0px;">
        <form class="form-inline">
          <div class="form-group">
            <label for="username_search">Enter a user name:</label>
            <input type="text" class="form-control" name="username_search" id="username_search" value="<%= h @username_search %>" placeholder="Username" />
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <p><a href="/contact" style="font-size:1rem;">Go to contact page</a></p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 5px;">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="table-responsive">
        <table class="table table-striped">
          <% if @contact_forms.count > 0 %>
            <thead>
              <tr>
                <th>Contact ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Message</th>
                <!-- <th>Action</th> -->
              </tr>
            </thead>
            <tbody>
              <% @contact_forms.each do |contact_form| %>
                <tr>
                  <td><%= h contact_form.contact_id %></td>
                  <td><%= h contact_form.username %></td>
                  <td><%= h contact_form.email %></td>
                  <td><%= h contact_form.message %></td>
                  <!-- <td><a href="/edit?id=<%= h contact_form.id %>" class="btn btn-primary">Edit</a></td> -->
                </tr>
              <% end %>
            </tbody>
          <% else %>
            <p>Your search revealed no usernames.</p>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
label {
  font-size: 1rem;
}
tr{
  font-size: 0.8rem;
}
</style>

<%= erb :"common/administrator/administrator_footer_dashboard" %>





